/* Features */
.features-container {
  display: flex;
  justify-content: space-evenly;
  gap: 20px;
  flex-wrap: wrap;
  padding: 50px 20px;
}

.feature {
  border-radius: 15px;
  box-shadow: 0 10px 30px rgba(0,0,0,0.1);
  background-color: #ffffff;
  text-align: center;
  padding: 30px;
  width: 350px;
  perspective: 1000px; /* Needed for 3D effect */
  cursor: pointer;
}

.feature-icon {
  width: 100px; /* fixed size for uniformity */
  height: 100px;
  border-radius: 50%;
  display: inline-block;
  background: linear-gradient(145deg, #ffffff, #e0e0e0);
  box-shadow: 5px 5px 15px rgba(0,0,0,0.1), -5px -5px 15px rgba(255,255,255,0.7);
  transform-style: preserve-3d;
  transition: transform 0.2s ease;
  overflow: hidden; /* make video stay in circle */
}

.feature-icon img {
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
}


.feature-content {
  width: 100%;
  padding: 30px 10px;
  border-radius: 10px;
}
h3 {
  font-size: 1.4rem;
  color: #333;
  margin-bottom: 10px;
}

p {
  color: #555;
  font-size: 1rem;
}

/* Features */