.footer-container {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 20px;
}

.footer-icon{
  font-size: 1.8rem;
  margin-right: 15px;
  color: #e9cd44;
}

.footer-icon:hover {
  color: #d6b71d;
}

.footer-container p {
  font-size: 0.9rem;
}